body {
    padding-top: 70px;
    padding-bottom: 70px;
}
input.form-control, textarea.form-control {
    margin-bottom: 5px;
}

.cl-form-bottom-padding{
    margin-bottom: 2em;
}

a:hover{
    text-decoration: none;
}

.navbar-blue {
    background-color: #337ab7;
}

.navbar-gray {
    background-color: #F9F9F9;
}

.text-white {
    color: #fff;
}

.text-black {
    color: rgba(0, 0, 0, 0.77);
}

.text-dark-gray {
    color: #777777;
}

.text-bold {
    font-weight: bold;
}

.text-blue {
    color: #337ab7;
}

.icon-padding {
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.vertical-divider-right {
    border-right: 1px solid #cccccc;
    height: 100%;
    margin-top: -20px;
    position: absolute;
}

div > ul > li.list-group-item {
    color: #337ab7;
}

.widget {
    margin-bottom: 10px;
    margin-right: 25px;
}

.widget > img {
    width: 100%;
}

.widget-toolbar {
    position: absolute;
    right: 2px;
    background: white;
    padding-right: 5px;
    border-bottom-left-radius: 10px;
}
