<nav class="navbar navbar-fixed-top navbar-gray">
    <div class="container-fluid">
        <a class="text-white navbar-brand"
           href="#!user/{{model.userId}}/website/{{model.websiteId}}/page">
            <span class="glyphicon glyphicon-chevron-left text-dark-gray"></span>
        </a>
        <div class="text-white navbar-brand text-dark-gray text-bold">
            Widgets
        </div>
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/chooser"
           class="navbar-link navbar-text pull-right text-dark-gray">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</nav>

<div class="container-fluid">
    <div class="widget" ng-repeat="widget in model.widgets">
        <div class="widget-toolbar">
            <a href="#!user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}"
               class="glyphicon glyphicon-cog text-blue"></a>
            <span class="glyphicon glyphicon-th-list"></span>
        </div>
        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADING">
                <div ng-include="'views/widget/templates/lists/widget-heading.view.client.html'"></div>
            </div>
            <div ng-switch-when="IMAGE">
                <div ng-include="'views/widget/templates/lists/widget-image.view.client.html'"></div>
            </div>
            <div ng-switch-when="HTML" ng-bind-html="model.trust(widget.text)"></div>
            <div ng-switch-when="YOUTUBE">
                <div ng-include="'views/widget/templates/lists/widget-youtube.view.client.html'"></div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom navbar-gray">
    <div class="container-fluid">
        <a href="#" class="navbar-link navbar-text pull-left text-black icon-padding">
            <span class="glyphicon glyphicon-play"></span>
        </a>
        <a href="#" class="navbar-link navbar-text pull-left text-black icon-padding">
            <span class="glyphicon glyphicon-eye-open"></span>
        </a>
        <a href="#!/user/{{model.userId}}"
           class="navbar-link navbar-text pull-right text-blue glyphicon glyphicon-user">
        </a>
    </div>
</nav>
