<div class="row">
    <nav class="navbar navbar-fixed-top navbar-blue">

        <div class="container-fluid col-sm-5 hidden-xs">
            <a class="text-white navbar-brand glyphicon glyphicon-chevron-left"
               href="#!user/{{model.userId}}/website">
            </a>
            <div class="text-white navbar-brand text-bold">
                Websites
            </div>
            <a href="#!user/{{model.userId}}/website/new" class="navbar-link navbar-text pull-right text-white">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>

        <div class="container-fluid col-sm-7">
            <div class="text-white navbar-brand text-bold">
                New Website
            </div>
            <a class="navbar-link navbar-text pull-right text-white" ng-click="model.createWebsite(website, model.userId)">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>

    </nav>
</div>


<div class="container-fluid">

    <div class="row">
        <div class="col-sm-5 hidden-xs"> <!-- col hidden in xs, 5:7 in sm & above -->
            <div ng-include="'views/website/templates/common/website-list-body.view.client.html'"></div>
        </div>

        <span class="vertical-divider-right"></span>

        <div class="col-sm-7">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="website.name">
            <label for="description">Description</label>
            <textarea id="description" class="form-control" cols="30" rows="10" placeholder="Description"
                      ng-model="website.description"></textarea>
        </div>

    </div>
</div>


<nav class="navbar navbar-fixed-bottom navbar-blue">
    <div class="container-fluid">
        <a href="#!/user/{{model.userId}}"
           class="navbar-link navbar-text pull-right text-white glyphicon glyphicon-user">
        </a>
    </div>
</nav>
