<nav class="navbar navbar-fixed-top navbar-blue">
    <div class="container-fluid hidden-xs col-sm-5">
        <a class="text-white navbar-brand" href="#!/website">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <div class="text-white navbar-brand text-bold">
            Websites
        </div>
        <a href="#!/website/new" class="navbar-link navbar-text pull-right text-white">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
    <div class="container-fluid col-sm-7">
        <a class="text-white navbar-brand" href="#!/website">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <div class="text-white navbar-brand text-bold">
            Edit Website
        </div>
        <a ng-click="model.updateWebsite(model.website)" class="navbar-link navbar-text pull-right text-white">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">

        <div class="col-sm-5 hidden-xs"> <!-- col hidden in xs, 5:7 in sm & above -->
            <div ng-include="'views/website/templates/common/website-list-body.view.client.html'"></div>
        </div>

        <span class="vertical-divider-right"></span>

        <div class="col-sm-7">
            <div class="alert alert-danger" ng-show="model.error">
                {{ model.error }}
            </div>

            <label for="name">Website Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="model.website.name">
            <label for="description">Website Description</label>
            <textarea id="description" class="form-control" cols="30" rows="10" placeholder="Description" ng-model="model.website.description"></textarea>
            <a class="btn btn-success btn-block" href="#!/website/{{model.websiteId}}/page">View Pages</a>
            <a class="btn btn-danger btn-block" ng-click="model.deleteWebsite(model.userId, model.websiteId)">Delete</a>
        </div>

    </div>
</div>


<nav class="navbar navbar-fixed-bottom navbar-blue">
    <div class="container-fluid">
        <a href="#!/" class="navbar-link navbar-text pull-left text-white">
            <span class="glyphicon glyphicon-home"></span>
        </a>
        <a href="#!/profile" class="navbar-link navbar-text pull-right text-white">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
