<div class="container-fluid">
    <form class="form-element-margin">
        <label for="name">Name</label>
        <input type="text" class="form-control" placeholder="Name" id="name"
               ng-model="model.widget.name" required>
        <label for="text">Text</label>
        <input type="text" class="form-control" placeholder="Text" id="text"
               ng-model="model.widget.text" required>
        <label for="size">Size</label>
        <input type="text" class="form-control" placeholder="Size" id="size"
               ng-model="model.widget.size" required>
        <a ng-show="model.widget._id" ng-click="model.deleteWidget(model.widgetId)" class="btn btn-block btn-danger">Delete</a>
    </form>
</div>
