<nav class="navbar navbar-fixed-top navbar-gray">
    <div class="container-fluid">
        <a class="text-white navbar-brand" href="#!/website/{{model.websiteId}}/page">
            <span class="glyphicon glyphicon-chevron-left text-dark-gray"></span>
        </a>
        <div class="text-white navbar-brand text-dark-gray text-bold">
            Edit Page
        </div>
        <a ng-click="model.updatePage(model.page)" class="navbar-link navbar-text pull-right text-dark-gray">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>

<div class="container-fluid">
    <form class="form-element-margin">
        <label for="name">Name</label>
        <input type="text" class="form-control" placeholder="Page Name" id="name"
               ng-model="model.page.name" required>
        <label for="title">Title</label>
        <input type="text" class="form-control" placeholder="Page Title" id="title"
               ng-model="model.page.description" required>
        <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
           class="btn btn-block btn-success">View Widgets</a>
        <a ng-click="model.deletePage(model.pageId)" class="btn btn-block btn-danger">Delete</a>
    </form>
</div>

<nav class="navbar navbar-fixed-bottom navbar-gray">
    <div class="container-fluid">
        <a href="#!/" class="navbar-link navbar-text pull-left text-blue">
            <span class="glyphicon glyphicon-home text-blue"></span>
        </a>
        <a href="#!/profile" class="navbar-link navbar-text pull-right text-blue">
            <span class="glyphicon glyphicon-user text-blue"></span>
        </a>
    </div>
</nav>
